# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
.venv/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Database files
*.db
*.sqlite3

# Logs
*.log

# Mac OS metadata
.DS_Store

# Frontend dependencies and build files
frontend/node_modules/
frontend/build/
frontend/.env

# IDE files
.vscode/
.idea/